@namespace ObjectExplorer.Blazor.Components

<div class="object-explorer-container">
    <Spacer Level="@Level" />
    
    @if(!ExploreDictionary.Any()) {
        <div Class="object-explorer-header object-explorer-header-dictionary">
            @Name ·
            <Badge Class="object-explorer-badge object-explorer-badge-dictionary">Dictionary@(DictionaryTypes == null ? "" : "<" + DictionaryTypes.Value.TKey.Name + "," + DictionaryTypes.Value.TValue.Name + ">")</Badge>
            · (empty)
        </div>
    } else {
        <Button Class="object-explorer-header object-explorer-header-dictionary" @onclick="async () => await _collapse!.ToggleAsync()">
            <Icon Name="IconName.ArrowsCollapse" />
            @Name ·
            <Badge Class="object-explorer-badge object-explorer-badge-dictionary">Dictionary@(DictionaryTypes == null ? "" : "<" + DictionaryTypes.Value.TKey.Name + "," + DictionaryTypes.Value.TValue.Name + ">")</Badge>
        </Button>
        
        <Collapse @ref="_collapse">
            @{
                _paginationTotalPages = (ExploreDictionary.Count() / ElementsPerPage) + 1;

                if(_paginationTotalPages > 1) {
                    <Spacer Level="@Level" NoHorizontal />
                    <div class="object-explorer-pagination-container">
                        <Pagination TotalPages="@_paginationTotalPages" DisplayPages="10" PageChanged="OnPageChangedAsync" Size="PaginationSize.Small" FirstLinkIcon="IconName.ChevronDoubleLeft" PreviousLinkIcon="IconName.ChevronLeft" NextLinkIcon="IconName.ChevronRight" LastLinkIcon="IconName.ChevronDoubleRight" />
                    </div>
                }

                using(var enumerator = ExploreDictionary.GetEnumerator()) {
                    var numElementsThisPage = _paginationCurrentPage * ElementsPerPage < ExploreDictionary.Count() ? ElementsPerPage : ExploreDictionary.Count() % ElementsPerPage;

                    enumerator.MoveNext();

                    for(var i = 0; i < (_paginationCurrentPage - 1) * ElementsPerPage; i++) {
                        enumerator.MoveNext();
                    }

                    for(var i = 0; i < numElementsThisPage; i++) {
                        <ObjectExplorer Name="@enumerator.Current.Key.ToString()" ExploreObject="@enumerator.Current.Value" Level="@(Level + 1)" />
                        enumerator.MoveNext();
                    }
                }
            }
        </Collapse>
    }
</div>

@code {
    private Collapse? _collapse;

    private int _paginationCurrentPage = 1;
    private int _paginationTotalPages = 1;

    [Parameter, EditorRequired]
    public string Name { get; set; } = "";

    [Parameter, EditorRequired]
    public IDictionary<object, object?> ExploreDictionary { get; set; }

    [Parameter, EditorRequired]
    public (Type TKey, Type TValue)? DictionaryTypes { get; set; }

    [Parameter, EditorRequired]
    public int Level { get; set; }

    [Parameter]
    public int ElementsPerPage { get; set; } = 10;

    private void OnPageChangedAsync(int newPageNumber) {
        _paginationCurrentPage = newPageNumber;
    }
}
