@namespace ObjectExplorer.Blazor.Components

<div class="object-explorer-container">
    <Spacer Level="@Level" />

    @if(!ExploreEnumerable.Any()) {
        <div Class="object-explorer-header object-explorer-header-enumerable">
            @Name ·
            <Badge Class="object-explorer-badge object-explorer-badge-enumerable">Enumerable@(EnumerableType == null ? "" : "<" + EnumerableType.Name + ">")</Badge>
            · (empty)
        </div>
    } else {
        <Button Class="object-explorer-header object-explorer-header-enumerable" @onclick="async () => await _collapse!.ToggleAsync()">
            <Icon Name="IconName.ArrowsCollapse" />
            @Name ·
            <Badge Class="object-explorer-badge object-explorer-badge-enumerable">Enumerable@(EnumerableType == null ? "" : "<" + EnumerableType.Name + ">")</Badge>
        </Button>

        <Collapse @ref="_collapse">
            @{
                _paginationTotalPages = (ExploreEnumerable.Count() / ElementsPerPage) + 1;

                if(_paginationTotalPages > 1) {
                    <Spacer Level="@Level" NoHorizontal />
                    <div class="object-explorer-pagination-container">
                        <Pagination TotalPages="@_paginationTotalPages" DisplayPages="10" PageChanged="OnPageChangedAsync" Size="PaginationSize.Small" FirstLinkIcon="IconName.ChevronDoubleLeft" PreviousLinkIcon="IconName.ChevronLeft" NextLinkIcon="IconName.ChevronRight" LastLinkIcon="IconName.ChevronDoubleRight" />
                    </div>
                }

                using(var enumerator = ExploreEnumerable.GetEnumerator()) {
                    var index = 0;
                    var numElementsThisPage = _paginationCurrentPage * ElementsPerPage < ExploreEnumerable.Count() ? ElementsPerPage : ExploreEnumerable.Count() % ElementsPerPage;

                    enumerator.MoveNext();

                    for(var i = 0; i < (_paginationCurrentPage - 1) * ElementsPerPage; i++) {
                        enumerator.MoveNext();
                        index++;
                    }

                    for(var i = 0; i < numElementsThisPage; i++) {
                        <ObjectExplorer Name="@index.ToString()" ExploreObject="enumerator.Current" Level="@(Level + 1)" />
                        enumerator.MoveNext();
                        index++;
                    }
                }
            }
        </Collapse>
    }
</div>

@code {
    private Collapse? _collapse;

    private int _paginationCurrentPage = 1;
    private int _paginationTotalPages = 1;

    [Parameter, EditorRequired]
    public string Name { get; set; } = "";

    [Parameter, EditorRequired]
    public IEnumerable<object> ExploreEnumerable { get; set; }

    [Parameter, EditorRequired]
    public Type? EnumerableType { get; set; }

    [Parameter, EditorRequired]
    public int Level { get; set; }

    [Parameter]
    public int ElementsPerPage { get; set; } = 10;

    private void OnPageChangedAsync(int newPageNumber) {
        _paginationCurrentPage = newPageNumber;
    }
}
